

.accordion-inline{
    .card{background: transparent;border: 0; padding: 0;}
    .card-header {
        padding: 0; border: 0;background: transparent;
        a{display:block;}
    }
    .card-block{ padding: 0;padding-top: .75rem;}

}