// Global branded styling. App specific styling should NOT go in this file
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5{
  font-weight: bold;margin-bottom: .75rem;
  .fa.fa-mello{color:$mello-blue;}
}
.legal{font-size: 0.75em;color: #777;}
small{font-size: 80%;font-weight: 400;}
.go-back{line-height:3rem;}
.red{color:red;}