/***** Global Variables *****/

/***** POS Variables *****/
$pos-blue           : #5e9aca;


/***** LD Brand Variables *****/
//Colors - LD
$ld-purple          : #5C2D91;
$ld-purple-lt       : #ba89f1;
$ld-purple-dk       : #593280;

$ld-green           : #a4cd27;
$ld-green-lt        : rgb(165,205,57);
$ld-green-dk        : rgb(106,178,50);

$ld-grey            : #d4d3d3;
$ld-grey-lt         : #f1f1f1;

//Radius - LD
$ld-radius          : 15px; // for rounded corners


/***** LD Brand Interactive Variables*****/
$interact          :  #88b606; //Slightly darker green for interactive elements, not default LD green
$interactHover     : $ld-green-lt;
$interactActive    : $ld-green-dk;