<div class="container">
  <h1 class="sample-content">Mello Angular Starter</h1>

  <hr/>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Serve Dev w/ HMR</strong></td>
                <td><pre>npm run server:dev:hmr</pre></td>
            </tr>
            <tr>
                <td><strong>Build Production w/ AOT</strong></td>
                <td><pre>npm run build:aot</pre></td>
            </tr>
            <tr>
                <td><strong>Serve Production Build</strong></td>
                <td><pre>npm run server:prod</pre></td>
            </tr>
        </tbody>
    </table>

  <hr/>

</div>
