<div class="container">
    <h1>Scaffolding Page</h1>
    <p>Contains lots of helpful code snippets for rapid development.</p>
    <hr />

    <div class="row">
        <div class="col-6">
            <h2>API call with subscribe</h2>
            <div *ngIf="usersWaiting && !usersError"><i class="fa fa-spinner fa-spin"></i> Loading users...</div>
            <error *ngIf="usersError" [error]="usersError"></error>
            <ul *ngIf="users">
                <li *ngFor="let user of users">{{user.name}}</li>
            </ul>
        </div>
        <div class="col-6">
            <h2>Ng-Bootstrap modal</h2>
            <p>
                <button-modal modal="SampleModalComponent" [data]="users" (onSuccess)="doCoolStuff($event)">Add New User</button-modal>
            </p>
        </div>
    </div>

    <hr />
    <h2>Store Example</h2>
    <store-example></store-example>
    <hr />
    <button class="btn btn-primary" (click)="throwError()">Throw Error</button>
</div>