<div class="container">
    <h1>Scaffolding &amp; Boilerplate</h1>
    <p>Contains lots of helpful code snippets for rapid development.</p>
    <hr />

    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle>
                UI Styling
            </ng-template>
            <ng-template ngbTabContent>
                <div class="card">
                    <div class="card-header">
                        <h3>UI Styling</h3>
                    </div>
                    <div class="card-block">
                        <ui></ui>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                Forms
            </ng-template>
            <ng-template ngbTabContent>
                <div class="card">
                    <div class="card-header">
                        <h3>Forms</h3>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <h3>ng-template Driven</h3>
                                <hr />
                                <template-form></template-form>
                            </div>
                            <div class="col-12 col-md-6">
                                <h3>Reactive</h3>
                                <hr />
                                <reactive-form></reactive-form>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                REST API
            </ng-template>
            <ng-template ngbTabContent>
                <div class="card">
                    <div class="card-header">
                        <h3>REST API Interaction</h3>
                    </div>
                    <div class="card-block">
                        <rest-api></rest-api>
                    </div>
                </div>
                
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                Ngrx-Store
            </ng-template>
            <ng-template ngbTabContent>
                <div class="card">
                    <div class="card-header">
                        <h3>Ngrx-Store with Effects</h3>
                    </div>
                    <div class="card-block">
                        <store-example></store-example>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
              
    </ngb-tabset>
       
</div>