// Universal Brand UI
@import "ui/variables";
@import "ui/mixins";
@import "ui/layout";
@import "ui/interactive";
@import "ui/typography";
@import "ui/forms";

// Universal Brand Components
@import "components/accordions";
@import "components/alerts";
@import "components/buttons";
@import "components/navbar";
@import "components/cards";
@import "components/tabs";


// Brand specific global HTML styles
// Only default html elements that cannot be semantically namespaced should go here. This section should be as small as possible
a{
    color:$mello-interact;
    &:hover{color:$mello-interact-hover;}
    &:active{color:$mello-interact-active;}
}