<form [formGroup]="formMain" novalidate (ngSubmit)="onSubmit()">
    <h3>Form Components</h3>

    <input-component [parentFormGroup]="formMain" id="name" label="Name"></input-component>
    <input-component [parentFormGroup]="formMain" id="email" label="Email" type="email"></input-component>
    <input-component [parentFormGroup]="formMain" id="password" label="Password" type="password"></input-component>
    <!-- Nested form group example -->
    <input-component [parentFormGroup]="formMain.controls.address" id="street" label="Street"></input-component>
    <input-component [parentFormGroup]="formMain.controls.address" id="city" label="City"></input-component>
    <input-component [parentFormGroup]="formMain.controls.address" id="state" label="State" type="select" [model]="states"></input-component> <!-- Select box example -->
    


    <input-component [parentFormGroup]="formMain.controls.address" id="zip" label="Zip" type="number"></input-component>
    <input-component [parentFormGroup]="formMain" id="message" label="Message" type="textarea"></input-component>

    <input-component [parentFormGroup]="formMain" id="colors" label="Colors" type="radio" [model]="colors"></input-component> <!-- Select box example -->
    <input-component [parentFormGroup]="formMain" id="pets" label="Pets" type="checkbox" [model]="pets"></input-component> <!-- Select box example -->

    <div class="form-group row">
        <div class="col-12 col-md-6">
            <button class="btn btn-primary" type="submit" [disabled]="formMain.invalid">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
        </div>
        <div class="col-12 col-md-6 text-right">
            <button class="btn btn-primary" type="submit">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
        </div>
    </div>


    <hr />

    <!-- Get a specific property from a reactive form -->
    <p>
        Name value: {{ formMain.get('name').value }}<br />
        Name value:  {{ formMain.get('name').status }}<br />
        Name pristine:  {{ formMain.get('name').pristine }}<br />
        Name untouched:  {{ formMain.get('name').untouched }}
    </p>

    <code>
        Form value: {{ formMain.value | json }}
        <hr />
        Form status: {{ formMain.status | json }}
    </code>
</form>
