<form [formGroup]="formMain" novalidate (ngSubmit)="onSubmit()">
    <h3>Form Components</h3>
    
    <field-component [frmGroup]="formMain" frmControl="name" label="Name"></field-component>
    <field-component [frmGroup]="formMain" frmControl="email" label="Email" type="email" placeholder="eat@joes.com"></field-component>
    <field-component [frmGroup]="formMain" frmControl="password" label="Password" type="password"></field-component>

    <!-- Nested form group example -->
    <field-component [frmGroup]="formMain.controls.address" frmControl="street" label="Street"></field-component>
    <field-component [frmGroup]="formMain.controls.address" frmControl="city" label="City"></field-component>
    <field-component [frmGroup]="formMain.controls.address" frmControl="state" label="State" type="select" [model]="states"></field-component> <!-- Select box example -->
    
    <field-component [frmGroup]="formMain.controls.address" frmControl="zip" label="Zip" type="number"></field-component>
    <field-component [frmGroup]="formMain" frmControl="message" label="Message" type="textarea"></field-component>

    <field-component [frmGroup]="formMain" frmControl="colors" label="Colors" type="radio" [model]="colors"></field-component><!--  Radio buttons  -->
    <field-component [frmGroup]="formMain" frmControl="days" label="Days" type="checkbox" [model]="daysModel" modelLabel="name"></field-component>
       

    <div class="form-group row">
        <div class="col-12 col-md-6">
            <button class="btn btn-primary" type="submit" [disabled]="formMain.invalid">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
        </div>
        <div class="col-12 col-md-6 text-right">
            <button class="btn btn-primary" type="submit">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
        </div>
    </div>


    <hr />

    <!-- Get a specific property from a reactive form -->
    <p>
        Name value: {{ formMain.get('name').value }}<br />
        Name value:  {{ formMain.get('name').status }}<br />
        Name pristine:  {{ formMain.get('name').pristine }}<br />
        Name untouched:  {{ formMain.get('name').untouched }}
    </p>

    <code>
        Form value: {{ formMain.value | json }}
        <hr />
        Form status: {{ formMain.status | json }}
    </code>
</form>
