<form name="formModal" #formModal="ngForm" (ngSubmit)="submit()">

    <div class="modal-header">
        <h3 class="modal-title"><i class="fa fa-thumbs-up"></i> Sample Modal</h3>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" id="modal-body">
        <div *ngIf="error" class="alert alert-danger"><i class="fa fa-alert"></i> {{error.errorMsg}}</div>
        <h2>Current Users</h2>
        <ul>
            <li *ngFor="let item of data">{{item.name}}</li>
        </ul>
        <p>
            <label>Add a new user:</label>
            <input class="form-control" name="name" [(ngModel)]="user.name" />
        </p>
    </div>

    <div class="modal-footer" style="justify-content: space-between;">
        <button type="button" class="btn btn-info-outline float-left pull-left" (click)="activeModal.dismiss('Close click')">Cancel</button>
        <button type="submit" class="btn btn-info" aria-label="Close" [disabled]="!formModal.form.valid || waiting" [ngClass]="{'btn-waiting':waiting}">
            <i class="fa fa-user-plus"></i> Add User
        </button>
    </div>

</form>