<header-component></header-component>
<div class="container">
  
    <div class="row">
        <div class="col col-12 col-lg-6 push-lg-3">
            <h1><i class="fa fa-user fa-mello"></i> Login</h1>

            <div class="card">
                <form [formGroup]="formMain" novalidate (ngSubmit)="onLogin()">
                    <div class="card-block">
                        <h4>Enter your username and password</h4>
                        <error *ngIf="errorApi" [error]="errorApi"></error>
                        <div class="alert alert-danger icon" *ngIf="errorLogin">Invalid username or password.</div>
                        <field-component [frmGroup]="formMain" frmControl="userName" label="Username" type="text" classes="login"></field-component>
                        <field-component [frmGroup]="formMain" frmControl="password" label="Password" type="password" classes="password"></field-component>
                        <div class="row">
                            <div class="form-check col-12 col-md-9 push-md-3">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input remember" formControlName="remember"/>
                                    Remember my username
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-mello" type="submit" [disabled]="formMain.invalid">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<footer-component></footer-component>
<router-outlet></router-outlet><!-- 2DO: Find a better solution to the logout router bug -->