
    <div class="modal-header">
        <h3 class="modal-title"><i class="fa fa-thumbs-up"></i> Warning</h3>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" id="modal-body">
        <p>Your session is about to expire in <span id="the_time">{{counter}}</span> seconds, do you want to continue working?</p>
    </div>

    <div class="modal-footer" style="justify-content: space-between;">
        <button type="button" class="btn btn-danger float-left pull-left" aria-label="Close" (click)="activeModal.close()" qa="logout">
            <i class="fa fa-power-off" aria-hidden="true"></i> 
            Log Out
        </button>
        <button type="button" class="btn btn-mello" (click)="activeModal.dismiss()" qa="continue">
             Continue Working
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </button>
    </div>
