<div class="container">
  <h1 class="sample-content">QA &amp; E2E Testing</h1>
    <p>
        This page is solely to perform e2e tests on this app's standalone components
    </p>
 
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Tests</th>
                <th>Component</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                        1. Modal Toggle Button<br />
                        2. Session Timeout Modal
                </td>
                <td>
                    <button-modal classes="btn btn-primary btn-qa" modal="LogoutModalComponent">
                        Session Timeout Modal
                    </button-modal>
                </td>
            </tr>
        </tbody>
    </table>

    
</div>
